<div class="section">
<div class="container">
<figure class="media media-content">
  <div class="message">
<div class="message-header">Add New Car Details</div>
</div>

<form class="message-body" {{action "save" on="submit"}}>

  <div class="message-inputs">
<div class="control">
  {{input class="input" type="name" value=formValues.name placeholder="name"}}
</div>

<div class="control">
  {{input class="input" type="country" value=formValues.hp placeholder="horse power"}}
</div>


<div class="control">
{{input class="input" type="name" value=formValues.year placeholder="year"}}
</div>

<div class="control">
{{input class="input" type="country" value=formValues.price placeholder="price"}}
</div>

</div>
</form>
</figure>
</div>
</div>
